/* inicio logo */

body {
    font-family: Poppins;
  }
  
  .navbar {
    background-color: black;
  }

  .jumbotron {
    background-color: black;
  }

  .cards {
    background-color: black;
  }
  
  .video {
      background-color: black;
      overflow: hidden
  }
  
  .formulario {
      background-color: black;
      overflow: hidden;
      max-width:100%;
      max-height:100%;
      position:relative;
      margin:0 auto;
  }

  .ml-50 {
    margin-left: 50px;
  }

  .p-30 {
    padding: 30px;
  }

  .tm-social {
    width: 30px;
    height: 30px;
  }

  .footer {
    background-color: black;
    max-width:100%;
    max-height:100%;
    position:relative;
    width:60%;
    margin:0 auto;
    text-align:center;
  }